@charset "UTF-8";

/* responsive: tablet ~ computer size */
@media screen and (min-width: 995px) {

    body {
        padding: 0;
    }
    
    * {
        font-size: 16px;
    }
    #wrapper {
        flex-direction: row;
        max-width: none;
        margin: 0 0;
    }
    

    main {
        width: 65%;
        min-height: 78vh;
        padding-right: 8vw;
        max-width: 700px;
    }

    aside {
        width: 35%;
        min-height: 78vh;
        margin: 0 0;
    }

    #navbar {
        display:flex;
        position: relative;
        justify-content: flex-start;
        padding-top:20px;
        margin-top: 0;
    }

    .navbar__menu__item:first-child {
        margin-left: 0;
    }

    ul.navbar__menu {
        margin: 0;
    }

    /* Index */
    .index-card {
        padding: 0 20px 30px;
        margin-bottom: 40px;
    }

    .section-p {
        margin-bottom: 40px;
    }

    .section-title {
        text-align: left;
    }

    .skill-cards {
        padding-bottom: 40px;
    }

    /* project */

    .project-wrapper {
        flex-direction: row;
    }
    .project-card {
        width: 40%;
        background: white;
        position: relative;
    }

    .project-card-modal {
        position:fixed;
        z-index: -1;
        opacity: 0;
        background-color:rgba(202, 199, 199, 0.185);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
    }

    .project-card-modal.active {
        z-index: 10;
        opacity: 1;
    }

    .project-title {
        text-align: left;
    }


    .project-not-mobile {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .project-logo-box {
        width: 50px;
        height: 50px;
        object-fit: contain;
        object-position: center center;
        border: 1px solid rgba(202, 199, 199, 0.185);
        border-radius: 10px;
        transition: all 300ms;
        box-shadow: rgb(200 200 200 / 69%) 0px 26px 30px -10px, rgb(230 230 230 / 73%) 0px 16px 10px -10px;
        cursor: pointer;
    }

    .project-logo-box:hover {
        transform: translateY(-5px) rotate(20deg);
    }

    .project-logo-box:hover + p {
        opacity: 1;
    }

    .project-logo-wrapper > p {
        opacity: 0;
        font-size: 5px;
        transition: all 300ms;
    }

    .project-logo-wrapper {
        padding-right: 25px;
    }

    .project-button-only-modal {
        display: block;
        position: absolute;
        bottom: 5px;
        right: 13px;
        cursor: pointer;
    }

    .fa-times {
        cursor: pointer;
        transition: all 300ms;
    }

    .fa-times:hover {
        color:rgba(184, 48, 38, 0.87);
        transform:scale(1.05);
    }

    /* arrow none */
    .arrow-up {
        display: none;
    }

    .section-p {
        text-decoration: underline;
        font-style:italic;
        text-align: left;
        margin-bottom: 40px;
    }

    /* Index */
    .index-card {
        padding-bottom: 30px;
    }

    .index-card:nth-child(1) {
        padding-top: 0;
    }

    .index-card > h2 {
        text-align: left;
    }
    

    #horse {
        position: fixed;
        width: 5%;
        top: 5px;
        right: 5px;
    }

    .index-card:last-child {
        margin-bottom: 70px;
    }

    .contact-card {
        text-align: left;
    }

    .contact-card > h2 {
        justify-content:flex-start;
    }
}