@charset "UTF-8";

/* responsive: tablet ~ computer size */
@media screen and (min-width: 995px) {

    body {
        padding: 0;
    }
    
    * {
        font-size: 16px;
    }
    #wrapper {
        flex-direction: row;
        max-width: none;
        margin: 0 0;
    }
    

    main {
        width: 65%;
        min-height: 78vh;
        padding-right: 8vw;
        max-width: 700px;
    }

    aside {
        width: 35%;
        min-height: 78vh;
        margin: 0 0;
    }

    #navbar {
        display:flex;
        position: relative;
        justify-content: flex-start;
        padding-top:20px;
        margin-top: 0;
    }

    .navbar__menu__item:first-child {
        margin-left: 0;
    }

    ul.navbar__menu {
        margin: 0;
    }

    /* Index */
    .index-card {
        padding: 0 20px 30px;
        margin-bottom: 40px;
    }

    .section-p {
        margin-bottom: 40px;
    }

    .section-title {
        text-align: left;
    }

    .skill-cards {
        padding-bottom: 40px;
    }

    /* project */
    .project-card {
        width: 40%;
        background: white;
    }

    .project-card-modal {
        position:fixed;
        z-index: 10;
        background-color:rgba(202, 199, 199, 0.185);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-title {
        text-align: left;
    }

    /* arrow none */
    .arrow-up {
        display: none;
    }

    .section-p {
        text-decoration: underline;
        font-style:italic;
        text-align: left;
        margin-bottom: 40px;
    }

    /* Index */
    .index-card {
        padding-bottom: 30px;
    }

    .index-card:nth-child(1) {
        padding-top: 0;
    }

    .index-card > h2 {
        text-align: left;
    }
    

    #horse {
        position: fixed;
        width: 5%;
        top: 5px;
        right: 5px;
    }

    .index-card:last-child {
        margin-bottom: 70px;
    }

    .contact-card {
        text-align: left;
    }

    .contact-card > h2 {
        justify-content:flex-start;
    }
}