@charset "UTF-8";

/* responsive: tablet ~ computer size */
@media screen and (min-width: 995px) {

    * {
        font-size: 16px;
    }
    #wrapper {
        flex-direction: row;
        max-width: none;
        margin: 0 0;
    }
    

    main {
        width: 65%;
        height: 90vh;
        padding-right: 8vw;
        max-width: 700px;
    }

    aside {
        width: 35%;
        height: 90vh;
        margin: 0 0;
    }

    #navbar {
        display:flex;
        position: relative;
        justify-content: flex-start;
        padding-top:20px;
    }

    .navbar__menu__item:first-child {
        margin-left: 0;
    }

    ul.navbar__menu {
        margin: 0;
    }

    .section-title {
        text-align: left;
    }

    /* project */
    .project-card {
        width: 100%;
    }

    .project-title {
        text-align: left;
    }
}